<!DOCTYPE html>
<html lang="en" ng-app="currencyApp">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dynamic currency changes</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="app.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.15/lodash.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.8/angular.js"></script>
  <script src="app.module.js"></script>
  <script src="valute-list/valute-list.module.js"></script>
  <script src="header/header.module.js"></script>
  <script src="chart/chart.module.js"></script>
  <script src="chart/chart.controller.js"></script>
  <script src="valute-list/valute-list.controller.js"></script>
  <script src="header/header.controller.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/angular-utils-pagination@0.11.1/dirPagination.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.5.0/ui-bootstrap-tpls.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.bundle.js"></script>
 

<body ngCloak>
  <header ng-controller='header' class="row align-items-center border-info border-bottom">
    <div class="col-md-8 text-center align-items-center">
      <img src="molumen_Lenin_silhouette.svg" width="25rem" height="25rem" alt="lenin">
      Dynamic currency changes
    </div>
    <div class="col-md-4 border-info border-left text-center">
      The current date is: <br> {{ date | date:'medium' }}
    </div>
  </header>
  <div ng-controller='valute'>
    <span class="pl-2 col-md-3 position-absolute update pt-2">
      Last update: <br>
      {{ current_time | date:'medium' }} 
    </span>
    <div class="row justify-content-center">
      <table class="table col-md-5 table-bordered table-hover">
        <thead class="thead-dark">
        <tr>
          <th>
            <input  style="height:1.5rem" class="input-group-sm" placeholder="Search" type="text" ng-model="filter.name" />
          </th>
          <th>
            <span>RUB</span>
            <span ng-if='!reverse'  ng-click="sortButtonClick()">&#9660</span>
            <span ng-if='reverse'  ng-click="sortButtonClick()">&#9650</span>
          </th>
          </thead>
        </tr>
        <tr class="valute_name col-md-3" dir-paginate="prop in valute_array  |itemsPerPage:selectedName | filter:filter.name | orderBy:'Value':reverse" current-page="page" ng-init="$last && finished()" ng-controller='chart' >
          <td>
            <span class="paki2" ng-bind="prop.CharCode"></span> {{prop.Name}}
          </td>
          <td>  <span class="paki">{{prop.Value | number:3}}</span> 
              <span class="pl-3" ng-style="{color:((prop.Value - prop.Previous) > 0)  ? 'green' : (prop.Value - prop.Previous) < 0 ? 'red' : 'black' , opacity : (prop.Value - prop.Previous) == 0 ? '0.5' : '1'}">
              {{prop.Value - prop.Previous | number:3 }}  {{(prop.Value - prop.Previous) > 0 ? '\u2B61' : (prop.Value - prop.Previous) < 0 ? '\u2B63' : '\u2B62'}}
              </span>
          </td>
        </tr>
      </table>
    </div>
      <div class="row justify-content-center">
        <dir-pagination-controls 
        class="thead-dark"
        ng-click="currentPage()"
        max-size="7"
        direction-links="true">
      </dir-pagination-controls>
        <span class="pl-2">
         <span class="displayed">Displayed items:</span> 
          <select id="pag" class="select" ng-model="selectedName" ng-options="option.id as option.label for option in options track by option.id">
          </select>
        </span> 
      </div>
      <hr>
      <div ng-controller='chart' id="chart">
        <canvas id="popChart" width="600" height="400"></canvas>
      </div>
  </div>
</body>
</html>

